/* Estilos personalizados para o site */

.header .logo {
    width: 140px;
    max-height: 60px;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.hq-card {
    width: 200px; /* Define a largura igual à da imagem */
    border: 0.1px solid rgba(0,0,0,0.1);
    text-align: center;
    overflow: hidden;
    transition: transform 0.4s, box-shadow 0.4s;
    text-overflow: ellipsis; /* Adiciona reticências (...) ao final do texto longo */
}

.hq-card:hover {
    transform: translateY(-10px) scale(1.05); /* Efeito de levantar e aumentar ligeiramente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra */
}


.hq-card img {
    height: 200px; /* Altura para dar o aspecto de livro */
    width: 100%; /* Largura igual à do card */
    border-radius: 5px;
}

.hq-card .card-body {
    padding: 0.5rem; 
    font-size: 0.8rem; 
}

.hq-card .card-price {
    font-weight: bold;
    color: #28a745;
    margin: 0.5rem 0;
}


.footer-logo-img {
    max-width: 150px; /* Ajuste o tamanho do logo conforme necessário */
    height: auto;
}

.social-icons a {
    font-size: 1.2rem;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.social-icons a:hover {
    color: #00aced; /* Cor ao passar o mouse */
}

.footer {
    background-color: #222; /* Cor de fundo mais escura */
    color: white;
}

.footer .text-white {
    color: white !important;
}

.footer p {
    margin-bottom: 10px;
}

.footer-logo {
    margin-bottom: 20px;
}


body, html {
    height: 100%;
}
.content {
    min-height: 80vh; 
    display: flex;
    flex-direction: column;
}
.footerCD {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
}